<!DOCTYPE html>
<html>
<head>
  <meta property="fc:frame" content="vNext" />
  <meta property="fc:frame:image" content="{{image}}" />
  {{!-- <meta property="fc:frame:button:1" content="{{button1}}" /> --}}
  {{!-- <meta property="fc:frame:button:2" content="{{button2}}" /> --}}
  {{!-- <meta property="fc:frame:button:3" content="{{button3}}" /> --}}
  {{!-- <meta property="fc:frame:button:4" content="{{button4}}" /> --}}
</head>
<body>
  <!-- Body content goes here -->
  {{image}}
</body>
</html>